/*=============== HEADER ===============*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  height: var(--header-height);
  line-height: 6.5rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__logo {
    &-link {
      color: var(--primary);
      font-size: 1.7rem;
      font-weight: var(--font-bold);
      padding: 0.5rem;
      text-transform: uppercase;
    }
  }

  &__list {
    display: inline-flex;
    li {
      &:hover > &__mega-box {
        opacity: 1;
        visibility: visible;
        top: 6.5rem;
      }
      i {
        color: var(--grey2);
        font-size: var(--normal-font-size);
      }
    }

    a {
      color: var(--black);
      font-size: 1.5rem;
      padding: 0.9rem 1.5rem;
      border-radius: 0.5rem;
      transition: all 300ms ease;
      &:hover {
        color: var(--primary);
      }
    }
    input {
      display: none;
    }
  }

  &__drop-menu1,
  &__drop-menu2 {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    width: 20rem;
    top: 8.5rem;
    line-height: 4.5rem;
    position: absolute;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;

    li {
      a {
        display: block;
        font-size: 1.5rem;
        width: 100%;
        padding: 0 0 0 1.5rem;
        border-radius: 0;
        color: var(--grey2);
        &:hover {
          color: var(--primary);
        }
      }
    }
  }

  &__drop-show {
    &:hover .navbar__mega-box {
      opacity: 1;
      visibility: visible;
      top: 6.5rem;
      max-height: 1780px;
    }
  }

  &__drop-show {
    &:hover .navbar__drop-menu1 {
      opacity: 1;
      visibility: visible;
      top: 6.5rem;
      max-height: 250px;
    }
  }

  &__drop-show {
    &:hover .navbar__drop-menu2 {
      opacity: 1;
      visibility: visible;
      top: 6.5rem;
      max-height: 250px;
    }
  }

  &__mega-box {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8.5rem;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
  }

  &__content {
    padding: 2.5rem 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__row {
    width: calc(25% - 3rem);
    line-height: 4.5rem;
    &:first-child {
      background-color: var(--primary);
    }
    li {
      padding: 0 2rem;
      a {
        padding: 0 2rem;
        display: block;
        font-size: 1.5rem;
        color: var(--grey2);
        &:hover {
          color: var(--primary);
        }
      }
    }
    header {
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--grey1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__mega-links {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
    margin-left: -4rem;
  }

  &__btn {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      font-size: 1.5rem !important;
      margin-bottom: 0.8rem;
    }
    a {
      display: inline-block;
      margin: 0.5rem 1rem 0 0;
      position: relative;
      img {
        height: 30px;
      }
    }
  }

  &__count {
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 0.2rem;
    background-color: var(--primary);
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 50%;
  }
}

.navbar.fix-nav {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
