/*=============== PRODUCT DETAILS ===============*/

.productDetail {
  margin-top: 5rem;
  &__details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 7rem;
  }
  &__left {
    display: flex;
    flex-direction: column;
  }

  &__main {
    text-align: center;
    background-color: #f6f2f1;
    margin-bottom: 2rem;
    height: 45rem;
    padding: 3rem;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &__thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
  }
  &__thumbnail {
    height: 10rem;
    background-color: #f6f2f1;
    text-align: center;
    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    span {
      display: inline-block;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 4rem;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    div {
      display: inline-block;
      position: relative;
      z-index: 1;
    }

    select {
      font-family: "Poppins", sans-serif;
      width: 20rem;
      padding: 0.7rem;
      border: 1px solid var(--grey1);
      appearance: none;
      outline: none;
    }
  }

  &__price {
    font-size: 600;
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 2rem;
  }
  form {
    margin-bottom: 2rem;
    span {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      font-size: 2rem;
      z-index: 0;
    }
  }
  &__form {
    margin-bottom: 3rem;
    input {
      padding: 0.8rem;
      text-align: center;
      width: 3.5rem;
      margin-right: 2rem;
      border: 1px solid #673ab7;
    }
  }
  &__addCart {
    background: var(--primary);
    padding: 0.8rem 4rem;
    color: var(--white);
    border-radius: 3rem;
    transition: 300ms all;
    &:hover {
      background-color: rgba(156, 39, 176, 0.7);
    }
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}
